
@model StrmiJo.Model.MostPopularData
@{
    ViewData["Title"] = "Home Page";
}

<style>
   .movie-list-container{
       padding: 20px;
   }

    .movie-list-item-img {
        width: 400px;
        height: 300px;
        object-fit: cover;
        transition: all 1s ease-in-out;
    }

   .movie-list{
       display:grid;
       height: 300px;
       width: 200px;      
       align-content: center;
   }

   .movie-list-item{
       margin-right:30px;
       position:;
       
   }

   .movie-list-item:hover .movie-list-item-img{
       transform: scale(1.2);
       margin: 0 30px;
       opacity: 0.5;
   }

    .movie-list-item:hover .movie-list-title,
    .movie-list-item:hover .movie-list-desc,
    .movie-list-item:hover .movie-list-item-button{
        opacity: 1;
    }

    .movie-list-item-title {
        background-color: #333;
        padding: 0 10px;
        font-size: 32px;
        font-weight: bold;
        position: absolute;
        top: 10%;
        left: 50px;
        opacity: 0;
        transition: 1s all ease-in-out;
    }

    .movie-list-item-desc {
        background-color: #333;
        padding: 0 10px;
        font-size: 14px;
        position: absolute;
        top: 30%;
        left: 50px;
        width: 230px;
        opacity: 0;
        transition: 1s all ease-in-out;
    }

    .movie-list-item-button {
        padding: 10px;
        background-color: green;
        color: white;
        border-radius: 10px;
        outline: none;
        border: none;
        cursor: pointer;
        position: absolute;
        bottom: 20px;
        left: 50px;
        opacity: 0;
        transition: 1s all ease-in-out;
    }

</style>

<body>

    <div class="movie-list-container">
        <h1 class="movie-list-title"> Most Popular Movies</h1>
        <div class="movie-list-wrapper">
            <div class="movie-list">
                @foreach (var item in Model.Items) {
                <div class="movie-list-item">
                    <img class="movie-list-item-img" src="@item.Image" alt="">
                    <span class="movie-list-item-title">@item.Title</span>
                </div>
                }
            </div>
        </div>
    </div>

    @*<div class="movie-list-container">
        <div class="movie-list-wrapper">
            <div class="row">
                @foreach (var item in Model.Items) {
                    <div class="col">
                        <img class="movie-list-item-img" src="@item.Image" alt="">
                    </div>
                }
            </div>
        </div>
        </div>*@

</body>
